<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>

    <h1 class="dashboard-title">Welcome to the Dashboard</h1>
    <ul>
        {% if not session['user_id'] %}
            <li><a href="/login">Log In</a></li>
      {% endif %}
         {% if session['user_id'] %}
            <li><a href="/draft">Create draft</a></li>
      {% endif %}

    </ul>
    <hr>
    <table>
        {% for post in posts %}
            <tr>

                <td>
                    Title: {{ post[1] }}
                </td>
                <td>
                    {% if post[3] == 'published' %}
                    <a href="{{ url_for('unpublish', user_id=post[0]) }}">Unpublish</a>
              {% endif %}
                 {% if post[3] == 'draft' %}
                    <a href="{{ url_for('publish', user_id=post[0]) }} {{ post[0] }}">Publish</a>
              {% endif %}
                </td>
                <td>
                    <a>Edit</a>
                </td>
                <td>
                    <a>Delete</a>
                </td>
            </tr>

        {% endfor %}
    </table>

</body>
</html>